<ion-view title="Overview">
  <ion-content class="has-header">
    <!-- Display current location's weather data-->
    <div class="top_panel padding20">
        <h3 class="city_name">{{city}}</h3>
        <h5 class="current_summary">{{current.currently.summary}}
        </h5>
        <div class="float_c">
            <span class="icon ion-cloud large text-left"></span>
            <span class="large float_r">{{current.currently.temperature}} &deg; </span>
        </div>
    </div>
    <div class="padding20 row">
        <div class="col">
            <div>Sun</div>
            <div class="icon ion-cloud"></div>
            <div>{{current.currently.temperature}} &deg; </div>
        </div>
        <div class="col">
            <div>Mon</div>
            <div class="icon ion-cloud"></div>
            <div>{{current.currently.temperature}} &deg; </div>
        </div>
        <div class="col">
            <div>Tue</div>
            <div class="icon ion-cloud"></div>
            <div>{{current.currently.temperature}} &deg; </div>
        </div>
        <div class="col">
            <div>Thu</div>
            <div class="icon ion-cloud"></div>
            <div>{{current.currently.temperature}} &deg; </div>
        </div>
        <div class="col">
            <div>Fri</div>
            <div class="icon ion-cloud"></div>
            <div>{{current.currently.temperature}} &deg; </div>
        </div>
        <div class="col">
            <div>Sat</div>
            <div class="icon ion-cloud"></div>
            <div>{{current.currently.temperature}} &deg; </div>
        </div>
    </div>
  </ion-content>
</ion-view>